#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json
packaging_format = 2

id = "cinny"
name = "Cinny"
description.en = "Matrix client focusing primarily on simple, elegant and secure interface"
description.gl = "Cliente para Matrix que pon o foco na simplicidade, elegancia e seguridade da interface"
description.ca = "Client de Matrix amb un focus en una interfície simple, elegant i segura"
description.fr = "Client matrix orienté simplicité, élégance et sécurité"

version = "4.10.2~ynh1"

maintainers = ["Salamandar"]

[upstream]
license = "MIT"
website = "https://cinny.in"
demo = "https://app.cinny.in"
code = "https://github.com/cinnyapp/cinny"
cpe = "cpe:2.3:a:cinny_project:cinny"
fund = "https://cinny.in/#sponsor"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = "not_relevant"

disk = "13M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/cinny"

    [install.default_home_server]
    ask.en = "Choose a default Matrix server for Cinny's login"
    ask.gl = "Elixe o servidor Matrix por defecto no acceso con Cinny"
    ask.ca = "Triar el servidor Matrix per defecte per l'inici de sessió de Cinny"
    ask.fr = "Choisissez un serveur Matrix par défault"
    help.en = "If you're running your own homeserver with Synapse, Dendrite, or Conduit you probably want this to be your homeserver's domain."
    help.fr = "Si vous hébergez votre propre serveur avec Synapse, Dendrite ou Conduit, vous voulez probablement mettre ici le domaine de ce serveur."
    help.gl = "Se estás a usar o teu propio servidor con Synapse, Dendrite ou Conduit, probablemente queres que aquí apareza o dominio do teu servidor."
    help.ca = "Si teniu el vostre propi servidor amb Synapse, Dendrite o Conduit segurament voleu triar el domini del vostre servidor."
    type = "string"
    example = "my-own-homeserver.tld"
    default = "matrix.org"

    [install.init_main_permission]
    help.en = "You will usually let visitors access Cinny so that anyone without a Yunohost account can log into Matrix."
    help.gl = "Normalmente permitese que as visitantes poidan acceder a Cinny para que calquera sen unha conta YunoHost poida acceder a Matrix."
    help.ca = "Normalment es permet als visitants accés a Cinny, d'aquesta manera qualsevol persona sense un compte YunoHOst pot iniciar sessió a Matrix."
    help.fr = "Vous laisserez généralement les visiteurs accéder Cinny pour s'y connecter sans avoir de compte Yunohost."
    type = "group"
    default = "visitors"

[resources]
    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/cinnyapp/cinny/releases/download/v4.10.2/cinny-v4.10.2.tar.gz"
    sha256 = "c00a5a71db39ecd04d2b0d7ec1ceb6ca57fb86208c9d058b145481356b0d1633"
    
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "cinny-v.*.tar.gz$"

    [resources.sources.ynh_build]
    url = "https://github.com/oleole39/cinny_ynh/releases/download/v4.10.1/cinny_v4.10.1_ynh.zip"
    sha256 = "a80aae67791bf90d9c26970c575f97dd7c63b6d6217420d36b6fc265decc689c"
    format = "zip"
    extract = true
    in_subdir = true

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
